<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="#" th:action="@{/user}" th:object="${userForm}" method="post">
		<input type="text" placeholder="Name:" th:field="*{name}">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

		<input type="text" placeholder="Age:" th:field="*{age}">
		<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

		<input type="submit" text="Send!">
	</form>
</body>
</html>